[init]
    defaultBranch = main
[core]
	excludesfile = ~/.gitignore_global
	autocrlf = input
	editor = nvim
	# editor = open -a 'Sublime Text' --wait
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[color]
	ui = true
[commit]
	template = /Users/kn/.stCommitMsg
#
# Different Git configuration per directory
#
[includeIf "gitdir:~/projects/codeberg/"]
    path = ~/.gitconfig-codeberg
[includeIf "gitdir:~/projects/github/"]
    path = ~/.gitconfig-github
[includeIf "gitdir:~/projects/meritoo/"]
    path = ~/.gitconfig-meritoo
[includeIf "gitdir:~/projects/polcode/"]
    path = ~/.gitconfig-polcode
[alias]
	#
	# Better Git Branch output
	# Source: https://gist.github.com/schacon/e9e743dee2e92db9a464619b99e94eff
	#
	bb = !/usr/local/gist/schacon/better-git-branch.sh
